# Werkzeug is famous for breaking Flask so pin down a known working version
Werkzeug==3.0.1

# Build dependencies
Flask==3.0.1
python-dotenv==0.21.1

# Testing dependencies
pytest==7.4.3
pytest-pspec==0.0.4
pytest-cov==4.1.0
coverage==7.3.2

# Code quality
pylint==3.0.2
flake8==6.1.0
black==23.10.1

# Utilities
httpie==3.2.2
