# Werkzeug is famous for breaking Flask so pin down a known working version
Werkzeug==2.3.3

# Build dependencies
Flask==2.3.2
python-dotenv==0.21.1

# Testing dependencies
green==3.4.3
coverage==7.1.0

# Code quality
pylint==2.16.2

# Utilities
httpie==3.2.1
